<div class="modal-header" style="background: #eee;">
    <h1>Upload Templates</h1>
</div>
<div class="modal-body">
    <ul class="list-group">
        <li class="list-group-item list-group-item" style="background: #337ab7; color: #ffffff; padding-bottom: 15px;">
            Letter 1
            <input type="file" id="file1" name="file1" ngf-select="getTheFiles($files)" />
        </li>
        <li class="list-group-item list-group-item" style="background: #5cb85c; color: #ffffff; padding-bottom: 15px;">
            Letter 2
            <input type="file" id="file2" name="file2" ngf-select="getTheFiles($files)" />
        </li>
        <li class="list-group-item list-group-item" style="background: #5bc0de; color: #ffffff; padding-bottom: 15px;">
            Letter 3
            <input type="file" id="file3" name="file3" ngf-select="getTheFiles($files)" />
        </li>
        <li class="list-group-item list-group-item" style="background: #f0ad4e; color: #ffffff; padding-bottom: 15px;">
            Letter 4
            <input type="file" id="file4" name="file4" ngf-select="getTheFiles($files)" />
        </li>
        <li class="list-group-item list-group-item" style="background: #d9534f; color: #ffffff; padding-bottom: 15px;">
            Letter 5
            <input type="file" id="file5" name="file5" ngf-select="getTheFiles($files)" />
        </li>
    </ul>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="Hide()">Hide</button>
</div>